:root {
    --aside-width: calc(100% - 50px);
    --title: "맞춤동영상"
}

@custom-media --not-full-size (max-width: 1500px);
@custom-media --mobile-size (max-width: 800px)

html,
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(80px, 2fr) minmax(40px, 3fr) minmax(40px, 12fr) minmax(40px, 18fr) minmax(40px, 2fr) minmax(40px, 10fr) minmax(40px, 2fr) minmax(80px, 2fr) minmax(80px, 2fr) minmax(80px, 3fr);
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    background-color: lightsalmon;
}

.navbar_box {
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#list_icon,
#youtube_logo,
#search_bar,
#search_logo,
#camcorder,
#rubiks,
#three_dots,
#login {
    background-color: blueviolet;
}

#search_logo {
    margin-left: -10px;
    background-color: lightgrey;
}

.article {
    display: grid;
    grid-template-columns: 1fr 0fr 5fr;
}


.section {
    padding: 0 10px;
    display: grid;
    background-color: aquamarine;
    grid-gap: 10px;
}

.subsection {
    padding: 0 10px;
    display: grid;
    background-color: royalblue;
    grid-auto-rows: 40px;
    grid-gap: 10px;
}

.section_box {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
}



.section_subbox {
    height: 40px;
    background-color: seagreen;
    align-items: center;
    text-align: center;

}

.textspan {
    display: inline-block;
    color: yellow;
    vertical-align: middle;
    margin: 8px 0 3px 0;
}

.subsection_explanation {
    padding: 0 10px;
    display: grid;
    background-color: royalblue;
    grid-gap: 10px;
}

.section_box_explanation {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-bottom: -10px;
}

.section_box_title {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
}

.subsection_settings {
    padding: 0 10px 0 0;
    display: grid;
    background-color: royalblue;
    grid-gap: 5px;
}

.section_box_settings {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    grid-auto-rows: 20px;
}

.section_box_settings_2 {
    background-color: bisque;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    grid-auto-rows: 20px;
}

.section_box_settings_3 {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    grid-auto-rows: 20px;
}

.section_box_settings_4 {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
    grid-auto-rows: 20px;
}

.section_subbox_settings {
    height: 20px;
    background-color: seagreen;
    align-items: center;
}

.aside {
    padding: 10px 10px;
    background-color: rgb(255, 0, 234);
    display: grid;
}

.subaside {
    padding: 10px 10px;
    background-color: rgb(166, 255, 0);
    grid-gap: 10px;

}

.subaside_title {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: auto-fit;
    grid-gap: 10px;
    align-items: center;
}

.subaside_title_text {
    background-color: cornflowerblue
}

.subaside_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.subaside_box_video {
    margin: 10px 0;
    height: 300px;
    background-color: chocolate;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 3fr 1fr;
}

.video_img {
    margin: 10px 10px 0 10px;
    background-color: darkseagreen;
}

.video_explanation {
    margin: 0 10px 10px 10px;
    background-color: gold;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

.video_explanation_upper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: azure;

}

.channel_img {
    background-color: crimson;
}

.video_title {
    background-color: firebrick
}

.three_dots {
    background-color: darkcyan;
}

.empty_space {
    background-color: white;
}

.channel_title {
    background-color: darkgoldenrod;
}

.video_views {
    background-color: aquamarine;
}

.uploaded_time {
    background-color: dimgrey;
}


/* div {
    background-color: purple;

    & div {
        background-color: gray;

        & div {
            background-color: green;

            & div {
                background-color: red;

                & div {
                    background-color: blue;

                    & div {
                        background-color: white;
                    }
                }
            }

                
        }
    }
} */

.section_arternative {
    display: none;
}

.article {
    display: grid;
    grid-template-columns: 1fr 5fr;
}




@media(--not-full-size) {

    .section {
        display:none;
    }

    .section_arternative {
        display: block;
        margin: 0;
        padding: 0;
    }

    .article {
        display: grid;
        grid-template-columns: 50px var(--aside-width);
    }
}

@media(max-width: 800px) {

    #search_bar {
        display: none;
    }

}